useDynLib(pomp.orig)
importFrom(graphics,plot)
importFrom(stats,coef,simulate,logLik,time)
importFrom(nlme,'coef<-')
exportClasses('pomp','mif')
exportMethods('mif','continue',
              'pfilter','simulate','particles',
              'coef','coef<-','logLik','plot',
              'pred.mean','pred.var','filter.mean','conv.rec',
              'predvarplot','print','show','time'
              )
export(
       pomp,
       bspline.basis,
       periodic.bspline.basis,
       cqlf,
       savgol, savgol.filter,
       sobol.testpoints, grid.testpoints
       )
